.card{
    display: block;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
}
.active{
    border-bottom: 2px solid rgba(7, 7, 187, 0.781);
}
/* .content{
   background-color: antiquewhite; 
   height: 80vh;
}
.side{
    background-color: blueviolet;
    height: 40vh;
} */